{% load django_htmx %}
{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Temperus</title>
      <meta name="description" content="">
      <meta name="author" content="">
      {% tailwind_css %}
      <script src="{% static 'js/htmx.min.js' %}" defer></script>
    </head>
    <body data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
      <section
        id="section-content"
        class="flex justify-center"
      >
        <div class="w-11/12 lg:w-4/12">
          {% block content %}
          {% endblock content %}
        </div>
      </section>
      <footer class="mt-10 text-center">
        2022 &copy; Temperus
      </footer>
      {% django_htmx_script %}
  </body>
</html>
