{% load i18n %}
{% load static %}
{% load widget_tweaks %}

<div
  class="w-full mx-auto my-8 text-center xl:w-10/12"
>
  <form
    data-hx-post="{% url 'obtain_weather_data' %}"
    data-hx-target="#weather-data-container"
    data-hx-trigger="submit"
    data-hx-push-url="true"
  >
    {% csrf_token %}
    <div>
      <div class="relative mt-1 rounded-md shadow-sm">
        {% render_field form.city|add_class:'block w-full pr-12 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 pl-7 sm:text-sm' placeholder=form.city.help_text %}
        <div class="absolute inset-y-0 right-0 flex items-center p-1">
          <img src="{% static 'img/search-weather.svg' %}" class="w-6 cursor-pointer" alt="{% trans 'Search' %}">
        </div>
      </div>
    </div>
  </form>
</div>
