{% load i18n %}

<div>
  <h1 class="text-3xl">{{ weather_data.city }}</h1>

  {% if not weather_data.errors %}
    {% include 'patterns/components/card_forecast/card_forecast.html' with forecast=weather_data.current_weather only %}
  {% endif %}

  {% for weather in weather_data.future_days %}
    {% include 'patterns/components/card_forecast/card_forecast.html' with forecast=weather only %}
  {% endfor %}

  <p>{{ weather_data.errors  }}</p>
</div>
