
{% load static %}
{% load tailwind_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Library{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% tailwind_css %}
  </head>
  <body>
    <main>
      {% block content %}
        {{ pattern_library_rendered_pattern }}
      {% endblock %}
    </main>
  </body>
</html>
