{% load i18n %}
{% load static %}

<h2 class="text-xl font-bold text-center">{{ forecast.datetime|date:"SHORT_DATE_FORMAT" }}</h2>
<div class="px-3 py-2 my-4 shadow-lg rounded-xl">
  <div class="text-xl font-bold text-left">
    {{ forecast.datetime|time:"H:i" }}
  </div>
  <div class="flex items-center justify-around">
    <div class="mt-6 text-center mb-7">
      <img src="{% static forecast.weather_icon_url %}" class="w-24">
      <span class="text-xl capitalize">{{ forecast.weather }}</span>
    </div>
    <div class="text-center">
      <div class="flex align-start">
        <span class="font-bold text-7xl">{{ forecast.temp }}</span>
        <span class="mt-2 text-xl font-bold">ºC</span>
      </div>
      <div class="mt-6">
        <span class="mr-1">{% trans 'Feels like' %}</span>
        <span class="font-bold">{{ forecast.feels_like_label }}</span>
      </div>
    </div>
  </div>
  <div class="flex self-center justify-around mt-3">
    <p>
      {% trans "Máx." %}
      <span class="font-bold">{{ forecast.temp_max }} ºC</span>
    </p>
    <p>
      {% trans "Min." %}
      <span class="font-bold">{{ forecast.temp_min }} ºC</span>
    </p>
  </div>
</div>
