{% load static %}

<div class="flex items-center">
  {% for icon in weather_icons %}
    <span class="mx-2 text-center">
      <img src="{% get_static_prefix %}img/weather/{{ icon }}.svg" class="w-20">
      <p> {{ icon }} </p>
    </span>
  {% endfor %}
</div>
